$gray: rgba(69, 79, 91, 1)
$black: rgba(22, 28, 36, 1)
$blueBlack: rgba(13, 36, 54, 1)
$accent: rgba(66, 149, 228, 1)
$background: rgba(255, 255, 255, 1)

$font: "Roboto", sans-serif

$headerHeight: 126px

@mixin title()
	font: 600 44px $font
	margin: 0 auto
